body {
    margin-left: 21px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
    color: darkred;
}

/*ol {
    list-style: upper-alpha;
}*/

#list {
    list-style: url("https://prod-edxapp.edx-cdn.org/assets/courseware/v1/073e0b55b08d259174c48c569c6696d9/asset-v1:W3Cx+HTML5.0x+3T2017+type@asset+block/my_triangle.png");
}

li {
    font-family: "palantino Linotype", "monospace";
    margin-top: 5px;
    margin-bottom: 5px;
}

